/* UTILIDADES=VARIABLES / MIXIN / FUNCIONES */
/*------- VARIABLES CARROUSEL ------*/
/* BASE= RESET / TIPOGRAFIAS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* VIEWS=PAGES */
.textocontacto {
  color: black;
  font: family "Mr Dafoe", cursive;
  /*  line-height: 1.6;/*  */ }

.size {
  font-size: 1.2rem; }

.fondocontacto {
  background-color: #f2b279; }

.btn-primary {
  color: white;
  background-color: black;
  margin-top: 15px;
  border-color: aqua; }

.form-select {
  margin-bottom: 11px; }

.form-label {
  margin-top: 11px; }

p {
  margin-top: 15px; }

.textogaleria {
  font-family: "Mr Dafoe", cursive; }

.card {
  margin-bottom: 15px; }

.textogaleria {
  font-size: 20px; }
  .textogaleria_texto {
    font-family: "Mr Dafoe", cursive; }

.textohome {
  text-align: center; }
  .textohome.texto {
    font-family: "Mr Dafoe", cursive; }

.fondonosotros {
  background-color: #D9A282; }

.imglogo {
  padding: 10px;
  margin: 10px;
  width: 200px;
  height: 150px; }

.textonosotros {
  font-family: "Mr Dafoe", cursive;
  font-size: 20px; }

.textopreguntasfrecuentes {
  font-family: "Alegreya", serif; }

.textonav {
  font-family: "Alegreya", serif; }

nav {
  width: 100%;
  margin: 0 0 0 0; }

.navbar-brand {
  max-width: 100px; }

h1 {
  font-size: 25px; }

a {
  text-decoration: none; }

.fondoindex {
  background-color: #F2C12E;
  margin: 0rem; }

iframe {
  width: 100%;
  height: 100%; }

/* ----MEDIA   QUERY MOBILE --- */
@media (min-width: 320px) and (max-width: 576px) {
  .navbar-brand {
    max-width: 70px; } }

/* -----MEDIA QUERY TABLET XL---- */
@media only screen and (min-width: 300px) and (max-width: 690px) {
  /*  .gridgaleria {
        flex-direction: row;
    }
*/ }

/* -----MEDIA QUERY TABLET XL---- */
@media only screen and (min-width: 691px) and (max-width: 899px) {
  /*  .gridgaleria {
        flex-direction: row;
    }
*/ }

/* -----MEDIA QUERY TABLET -----*/
@media only screen and (min-width: 900px) and (max-width: 1024px) {
  /*  .gridgaleria {
        flex-direction: row;
    }
*/ }
