/* UTILIDADES=VARIABLES / MIXIN / FUNCIONES */
/*------- VARIABLES CARROUSEL ------*/
/* --VARIABLES ACCORDION --*/
/* -- SPACING --*/
/* BASE= RESET / TIPOGRAFIAS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* -- EXTEND-- */
.btn, .btn-outline {
  border-radius: 12px; }

/* --VIEWS=PAGES-- */
.fondonosotros {
  background-color: #f2b279; }

.textonosotros {
  font-family: "Mr Dafoe", cursive;
  font-size: 20px; }

.textonosotrosp {
  font-size: larger; }

.img_nosotros {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

h1 {
  margin: 10px; }

.textogaleria {
  font-family: "Mr Dafoe", cursive;
  text-align: center;
  font-size: 25px; }

.h1galeria {
  text-align: center; }

.textogaleria2 {
  font-family: "Alegreya", serif; }

.textocontacto {
  color: black;
  font: family "Mr Dafoe", cursive; }

.textocontacto2 {
  font-family: "Alegreya", serif; }

.fondocontacto {
  background-color: #f2b279; }

.btn-primary {
  color: white;
  background-color: black;
  margin-top: 15px;
  border-color: aqua; }

.form-select {
  margin-bottom: 11px; }

.form-label {
  margin-top: 11px; }

p {
  margin-top: 15px;
  font-size: 1.2rem;
  font-family: "Alegreya", serif; }

.textopreguntasfrecuentes {
  font-family: "Alegreya", serif; }

.accordion-button:not(.collapsed) {
  color: wheat;
  background-color: black; }

.textonav {
  font-family: "Alegreya", serif; }

nav {
  width: 100%;
  margin: 0 0 0 0; }

.navbar-brand {
  max-width: 100px; }

h1 {
  font-size: 30px;
  font-family: "Mr Dafoe", cursive;
  text-align: left;
  margin: 0px 0px 1px 15px; }

a {
  text-decoration: none; }

iframe {
  width: 95%;
  height: 50%; }

.textogaleria {
  font-size: 20px; }
  .textogaleria_texto {
    font-family: "Mr Dafoe", cursive; }

.textohome {
  text-align: center; }
  .textohome.texto {
    font-family: "Alegreya", serif;
    font-size: 15px; }

.textonosotros {
  font-size: 20px; }
  .textonosotros.texto {
    font-family: "Mr Dafoe", cursive; }

.carousel-inner img {
  width: 100%;
  max-height: 600px; }

.carousel-inner {
  height: 650px; }

.h1home {
  text-align: center; }

.h2home {
  font-size: 25px; }

.h3home {
  font-family: "Alegreya", serif;
  font-size: 21px;
  font-weight: bold; }

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  padding: 1.2rem;
  margin-top: 5px;
  background-color: #c0e0e0; }

.nav-link1 {
  color: black; }

.footer__ul {
  list-style: none;
  padding-left: 2px;
  color: black;
  font-family: "Alegreya", serif;
  font-size: 18px; }

h3 {
  font-size: large;
  color: black;
  margin-bottom: 2px; }

/* ----MEDIA   QUERY MOBILE --- */
@media (min-width: 320px) and (max-width: 575px) {
  .navbar-brand {
    max-width: 100%; }
  .img_nosotros {
    flex-direction: column;
    justify-content: center; }
  .iframe {
    max-width: 100%; }
  footer {
    flex-direction: column; }
  .carousel-inner {
    height: 300px; } }

/* -----MEDIA QUERY TABLET ---- */
@media (min-width: 576px) and (max-width: 767px) {
  .img_nosotros {
    flex-direction: column; }
  .iframe {
    max-width: 100%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .textonosotros {
    flex-direction: column; }
  .img_nosotros {
    flex-direction: column;
    justify-items: space-evently; }
  .iframe {
    max-width: 100%; } }
