@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------INDEX------------- */

.textonav {
    font-family: $texto1;
}

nav {
    width: 100%;
    margin: 0 0 0 0;
}

.navbar-brand {
    max-width: 100px;
}

h1 {
font-size: 25px;
}
a {
    text-decoration: none;
}

.fondoindex {
    background-color: #F2C12E;
    margin: 0rem;
}

/* menuindex {
    margin: 1rem;
    padding: 1rem;
    text-align: justify;
} */
iframe {
    width: 100%;
    height: 100%;
}


/* -------------HOME--------------- */
.textohome {
    font-family: $texto2;
    font-size: 20px;
}

.figure {
    max-width: 800px;
    max-height: auto;
}

/* ----------GALERIA------------- */
.textogaleria {
    font-family: $texto2;
    font-size: 20px;
}

/* .gridgaleria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 60px 100px 100px;
    grid-template-areas: "texto texto"
        "img1  img2 img3  img4;
 img5 img6 img7 img8";

}

.imagenesgaleria1 {
    grid-area: img1;
}

.imagenes_galeria2 {
    grid-area: img2;
}

.imagenes_galeria3 {
    grid-area: img3;
}

.imagenes_galeria4 {
    grid-area: img4;
}

.imagenes_galeria5 {
    grid-area: img5;
}

.imagenes_galeria6 {
    grid-area: img6;
}

.imagenes_galeria7 {
    grid-area: img7;
}

.imagenes_galeria8 {
    grid-area: img8;
}
/*  */


/* ----------NOSOTROS---------- */

.fondonosotros {
    background-color: #D9A282;
}

.imglogo {
    padding: 10px;
    margin: 10px;
    width: 200px;
    height: 150px;
}
.textonosotros{
    font-family: $texto2;
    font-size: 20px;
}
/*  .gridnosotros {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 600px;
    grid-template-areas: "texto texto texto "
        "img1    img3  img2";
    justify-items: center;
}

.textonosotros {
    grid-area: texto;

}

.textonosotros {
    font-family: $texto2;
    font-size: 15px;
}

.imagenesnostros1 {
    grid-area: img1;
}

.imagenesnostros2 {
    grid-area: img2;
}

.imagenesnostros3 {
    grid-area: img3;
}

.gridnosotros img {
    height: 25%;
}
 */
/* -------------PREGUNTAS FRECUENTES------------ */

.textopreguntasfrecuentes {
    font-family: $texto2;
}


/* ---------CONTACTO------------- */

.textocontacto {
    color: black;
    font: family $texto2;
    /*  line-height: 1.6;/*  */
}

.size {
    font-size: 1.2rem;
}

.fondocontacto {
    background-color: #f2b279;
}

.btn-primary{
    color: white;
    background-color: black;
}
/* ----MEDIA   QUERY MOBILE --- */
@media(min-width:320px) and (max-width:576px) {

    .navbar-brand {
        max-width: 70px;
    }
}

/* -----MEDIA QUERY TABLET */
@media(min-width:577px) and (max-width: 991px) {
    /*  .gridgaleria {
        flex-direction: row;
    }
*/
}