<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="shortcut icon" href="../ASSETS/baking mood logo.png" type="image/x-icon">
    <!-- CSS bootstratp -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
</head>

<body class="fondocontacto">
    <header class="menucontacto">
        <div>
            <a href="../index.html"> <img class="imglogo" src="../ASSETS/baking mood logo.png"
                    alt="logo de un cupcake"></a>
        </div>
        <nav>
            <ul class="textocontacto">
                <li> <a href="./home.html"> Home </a></li>
                <li> <a href="./galeria.html"> Galeria </a></li>
                <li> <a href="./nosotros.html"> Nosotros </a></li>
                <li> <a href="./preguntas_frecuentes.html"> Preguntas frecuentes </a></li>
                <li> <a href="./contacto.html"> Contacto </a></li>
            </ul>
        </nav>
    </header>
    <main class="textocontacto">
        <form action="">
            <h1 class="titulodeformulario"> Datos de contacto</h1>

            <fieldset>

                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre" placeholder="Ingresa tu nombre" required>
                <br>
                <br>
                <label for="apellido">Apellido</label>
                <input type="text" name="apellido" id="apellido" placeholder="Ingresa tu apellido" required>
                <br>
                <br>
                <!-- Solicitud de email  -->
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Ingresa tu email" required>
                <br>
                <br>
                <!--  Menu desplegable -->
                <label for="cliente">Tipo de cliente </label>
                <br>
                <select name="cliente" id="cliente">
                    <option value="">Seleccione el tipo de cliente</option>
                    <option value="particular">Particular</option>
                    <option value="comercial">Comercial</option>
                </select>
                <br>
                <br>
                <!-- Check box -->
                <label for="">¿Desea recibir nuestras promociones?</label>
                <input type="checkbox" name="cbox">
                <br>
                <br>
                <!-- textarea-->
                <label for="comentario">Sugerencias y comentarios</label>
                <br>
                <br>
                <textarea name="comentario" id="comentario" cols="30" rows="10" maxlength="190"></textarea>
                <br>
                <br>
                <input type="reset" value="Limpiar el formulario">
                <br>
                <br>
                <input type="submit" value="Enviar el formulario">
            </fieldset>
        </form>
    </main>
    <footer id="abajo">
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, quia id? Doloribus quisquam voluptatum
            adipisci rem dolore iste saepe velit commodi harum? Obcaecati consequuntur eveniet culpa aspernatur qui
            recusandae perspiciatis!</p>
        <iframe class="iframe"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.99144060814!2d2.2922926150568834!3d48.858373608662895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66fe22e603a5f%3A0xaeb906086765a2e1!2sAux%20D%C3%A9lices%20du%20Pont%20d&#39;I%C3%A9na!5e0!3m2!1ses-419!2sar!4v1654828588742!5m2!1ses-419!2sar"
            style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
        <p> <a href="#arriba "> Ir arriba </a></p>
    </footer>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

</body>

</html>