<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords"
        content="torta,antojos,macarrons,chocolate,tentarse,cupcake,dulce de leche, brownie,mousse,velvet,ganache,cheesecake,tiramisu,oreo,arandanos">
    <meta name="description" content="Galeria con imagenes de nuestros productos">
    <title>BakingMood - Galeria de imagenes</title>
    <link rel="shortcut icon" href="../assets/baking_mood_logo.png" type="image/x-icon">
    <!-- CSS bootstratp -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital@1&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital@1&family=Mr+Dafoe&display=swap" rel="stylesheet">
</head>

<body>
    <header class="textonav">
        <!-- Nat var -->
        <nav class="navbar navbar-expand-lg textonav">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand">
                    <a href="../index.html"><img src="../assets/baking_mood_logo.png " alt=logo" width="120" height="70">
                    </a>
                </a>
                <div class=" collapse navbar-collapse " id="navbarTogglerDemo03">
                    <ul class="navbar-nav me-auto mb-0 mb-lg-1">
                        <li class="nav-item button ">
                            <a class="nav-link btn " aria-current="page" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item button">
                            <a class="nav-link btn " href="../VIEWS/galeria.html">Galeria</a>
                        </li>
                        <li class="nav-item button">
                            <a class="nav-link btn " href="../VIEWS/nosotros.html">Nosotros</a>
                        </li>
                        <li class="nav-item button">
                            <a class="nav-link btn" href="../VIEWS/preguntas_frecuentes.html">Preguntas frecuentes</a>
                        </li>
                        <li class="nav-item button">
                            <a class="nav-link btn" href="../VIEWS/contacto.html">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
        <!-- Main -->
    <main>
        <section class="container-fluid">
            <div class="row">
                <div class="column">
                    <h1 class="textogaleria texto">Aqui podrá consultar nuestros productos</h1>
                </div>
            </div>
            <section class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-xs-12">
                        <div class="card" style="width: 18rem;">
                            <img src="../assets/macarrons_frutilla.jpg" class="card-img-top rounded"
                                alt="macarrons de frutilla">
                            <div class="card-body">
                                <h2 class="card-title">Macarrons de frutilla y frambuesas</h2>
                                <p class="card-text1">Deliciosos pastelitos elaborados a base de harina de
                                    almendras,azúcar glas y clara de huevo, rellenos de frambuesa.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-xs-12">
                        <div class="card" style="width: 18rem;">
                            <img src="../assets/macarrons_multicolores.jpg" class="card-img-top rounded"
                                alt="macarrons de diferentes sabores">
                            <div class="card-body">
                                <h2 class="card-title">Macarrons de diferentes sabores</h2>
                                <p class="card-text2"> deliciosos pastelitos elaborados a base de harina de
                                    almendras, azúcar glas y clara de huevo, rellenos de diferentes sabores.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-xs-12">
                        <div class="card " style="width: 18rem;">
                            <img src="../assets/porcion_torta_chocolate2.jpg" class="card-img-top rounded"
                                alt="Porción de torta de chocolate">
                            <div class="card-body">
                                <h2 class="card-title">Porción de torta chocolate</h2>
                                <p class="card-text3">En su interior el relleno es de chocolate amargo con un baño
                                    de chocolate cobertura y viene acompañado con un toque de crema Chantilly.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-xs-12">
                        <div class="card " style="width: 18rem;">
                            <img src="../assets/porcion_chocolate_blanco_y_negro.jpg" class="card-img-top rounded"
                                alt="Porción de torta chocolate blanco y negro">
                            <div class="card-body">
                                <h2 class="card-title">Porción de torta rellena de mousse chocolate</h2>
                                <p class="card-text1">Rellena con mousse de chocolate y con cobertura de chocolate
                                    blanco y negro.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-xs-12">
                        <div class="card " style="width: 18rem;">
                            <img src="../assets/porcion_cheese_cake1_frutal.jpg" class="card-img-top rounded"
                                alt="porcion de cheesecake frutal">
                            <div class="card-body">
                                <h2 class="card-title">Porcion de cheesecake multifrutal</h2>
                                <p class="card-text2"> Compuesto de una pasta preparada a partir de bizcocho seco
                                    desmenuzado, mantequilla y azúcar.En éste caso en su superficie contiene una
                                    jalea de frutos rojos con arandanos y frutillas.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-xs-12">
                        <div class="card " style="width: 18rem;">
                            <img src="../assets/porcion torta con baño de chocolate y frutas.jpg"
                                class="card-img-top rounded" alt="porcion de torta de chocolate con frutas">
                            <div class="card-body">
                                <h2 class="card-title">Porcion de torta con una baño de chocolate y frutas</h2>
                                <p class="card-text3">Elaborado con una mezcla de ingredientes como huevos,
                                    harina, leche, manteca y azúcar y cocinando la mezcla en un horno.
                                    En ésta ocasión en su superficie cuenta con una baño de chocolate con frutas
                                    como uvas y frambuesas.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-xs-12">
                        <div class="card " style="width: 18rem;">
                            <img src="../assets/tiramisu.jpg" class="card-img-top rounded" alt="Porción de tiramisu">
                            <div class="card-body">
                                <h2 class="card-title">Porción de tiramisu</h2>
                                <p class="card-text1">Compuesta siempre de un ingrediente sólido humedecido en café,
                                    sobre el que se superpone (de forma alterna o no) una crema cuya base son huevos
                                    batidos con azúcar; se presenta espolvoreado con cacao en polvo.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-xs-12">
                        <div class="card " style="width: 18rem;">
                            <img src="../assets/chesse_cake_multifrutal.jpg" class="card-img-top rounded"
                                alt="cheesecake multifrutal">
                            <div class="card-body">
                                <h2 class="card-title">Chesse cake de multifrutas</h2>
                                <p class="card-text2"> Compuesto de una pasta preparada a partir de bizcocho seco
                                    desmenuzado, mantequilla y azúcar.En éste caso el mismo sobre la superficie
                                    tiene partes de frutas y lonjas de chocolate.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-xs-12">
                        <div class="card " style="width: 18rem;">
                            <img src="../assets/torta_velvet.jpg" class="card-img-top rounded" alt="Torta velvet">
                            <div class="card-body">
                                <h2 class="card-title">Torta velvet</h2>
                                <p class="card-text3">Pastel de terciopelo rojo. Este recibe el nombre debido a su
                                    color rojo fuerte y a su contextura suave y esponjosa que imita un terciopelo.
                                    El red velvet es un pastel en capas cubierto con un glaseado de queso cremoso.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-xs-12">
                        <div class="card " style="width: 18rem;">
                            <img src="../assets/torta_oreo.jpg" class="card-img-top rounded" alt="Torta oreo">
                            <div class="card-body">
                                <h2 class="card-title">Torta Oreo</h2>
                                <p class="card-text1">Elaborada con queso Finladia, dulce de leche, crema y
                                    galletitas Oreo.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-xs-12">
                        <div class="card " style="width: 18rem;">
                            <img src="../assets/rosca_con_frutos_rojos.jpg" class="card-img-top rounded"
                                alt="Rosca con frutas rojos">
                            <div class="card-body">
                                <h2 class="card-title">Rosca con baño de crema pastelera y frutos rojos</h2>
                                <p class="card-text2">Elaborador con una mezcla de ingredientes como huevos,
                                    harina, leche, manteca y azúcar y cocinando la mezcla en un horno.
                                    En ésta ocasion en su superficie cuenta con una baño de crema pastelera y
                                    frutos rojos como arandanos, frutillas y frambuesas.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-xs-12">
                        <div class="card" style="width: 18rem;">
                            <img src="../assets/torta_bañada_chocolate_copos_mousse.jpg" class="card-img-top rounded"
                                alt="Torta bañada de chocolate con copos de mousse de chocolate">
                            <div class="card-body">
                                <h2 class="card-title">Torta bañada con chocolate y copos de mousse</h2>
                                <p class="card-text3">Rellena con una mezcla de queso crema y dulce de leche.En
                                    su superficie cuenta con un baño de chocolate y copos de mousse de chocolate.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-xs-12">
                        <div class="card" style="width: 18rem;">
                            <img src="../assets/torta_baño_chocolate_con_granas_marr.jpg" class="card-img-top rounded"
                                alt="Torta bañada de chocolate con granas de chocolate y frambuesas">
                            <div class="card-body">
                                <h2 class="card-title">Torta bañada de chocolate con granas sabor café y
                                    frammbuesas</h2>
                                <p class="card-text1">Torta rellena de mouse con licor de café, en su
                                    superificie cuenta con un baño de chocolate, granas de sabor café y
                                    frambuesas.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-xs-12">
                        <div class="card" style="width: 18rem;">
                            <img src="../assets/torta_ganache_de_frutillas.jpg" class="card-img-top rounded"
                                alt="Torta bañada con ganache de frutillas">
                            <div class="card-body">
                                <h2 class="card-title">Torta con ganache de frutillas</h2>
                                <p class="card-text2">Torta de chocolate y crema Chantilly.
                                    Cubierta de ganache y frutillas.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-xs-12">
                        <div class="card " style="width: 18rem;">
                            <img src="../assets/torta_brownie.jpg" class="card-img-top rounded" alt="Torta de Brownie">
                            <div class="card-body">
                                <h2 class="card-title">Torta de Brownie</h2>
                                <p class="card-text3"> Su textura está entre el bizcocho y la galleta.
                                    Contienen chocolate, es suave y esponjoso.La superficie es crujiente.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-xs-12">
                        <div class="card" style="width: 18rem;">
                            <img src="../assets/torta_mousse_y_arandanos.jpg" class="card-img-top rounded"
                                alt="Torta bañada de mousse y arandanos">
                            <div class="card-body">
                                <h2 class="card-title">Torta de mousse y arandanos</h2>
                                <p class="card-text1">Torta rectangular en donde su interior contiene mousse de
                                    dulce de leche y arándanos.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </main>
    <!-- Footer      -->
    <footer>
        <div>
            <h3> Navegación</h3>
            <ul class="footer__ul">
                <li>
                    <a class="nav-link " href="../index.html">Home</a>
                </li>
                <li>
                    <a class="nav-link" href="../VIEWS/galeria.html">Galeria</a>
                </li>
                <li>
                    <a class="nav-link" href="../VIEWS/nosotros.html">Nosotros</a>
                </li>
                <li>
                    <a class="nav-link" href="../VIEWS/preguntas_frecuentes.html">Preguntas frecuentes</a>
                </li>
                <li>
                    <a class="nav-link " href="../VIEWS/contacto.html">Contacto</a>
                </li>
            </ul>
        </div>
        <div>
            <h3> Redes Sociales</h3>
            <img src="../assets/instagram_64.png" style="font-size: 15rem;margin-top: 4px;" alt=" icono de instagram">
            <img src="../assets/facebook_64.png" style="font-size: 15rem;margin-top: 4px;" alt=" icono de facebook">
        </div>
        <div>
            <h3>Medios de pago</h3>
            <img src="../assets/visa_logo_65.png" style="font-size: 2.1rem;margin-top:-10px;"
                alt=" icono de tarjeta visa">
            <img src="../assets/mastercard_64.png" style="font-size: 2rem;margin-top:-10px;"
                alt="icono de tarjeta mastercard">
            <img src="../assets/amex.png" style="font-size: 2rem;margin-top:-10px;"
                alt=" icono de tarjeta american express">
            <img src="../assets/icons-bitcoin-.png" class="w-8" style="font-size: 1.5rem;margin-top:-10px;"
                alt=" icono de bitcoin">
            <img src="../assets/ethereum_line_template_icon_64.png" style="font-size: 1rem;margin-top:-10px;"
                alt=" icono de ethereum">
        </div>
        <div>
            <h3>Donde estamos</h3>
            <p style="margin-top: 2px"> <img src="../assets/store_50x40.png" style="font-size: 1rem" alt=" icono de tienda">Quai
                Branly, 75007 Paris, Francia </p>
            <iframe class="iframe"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.99144060814!2d2.2922926150568834!3d48.858373608662895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66fe22e603a5f%3A0xaeb906086765a2e1!2sAux%20D%C3%A9lices%20du%20Pont%20d&#39;I%C3%A9na!5e0!3m2!1ses-419!2sar!4v1654828588742!5m2!1ses-419!2sar"
                style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </footer>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
        </script>
</body>

</html>