<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria</title>
    <link rel="shortcut icon" href="../ASSETS/baking mood logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../CSS/estilos.css">
    <link rel="stylesheet"  href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Lobster&display=swap" rel="stylesheet">
       
          
</head> 
<body class="fondogaleria"  >
     <header >
        <main  >
            <nav class="menugaleria size" >
                <ul  class="navgaleria" > 
                    <li> <a href="/VIEWS/home.html"> Home </a></li>
                    <li> <a href="/VIEWS/galeria.html" > Galeria  </a></li>
                    <li> <a href="/VIEWS/nosotros.html"> Nosotros </a></li>
                    <li> <a href="/VIEWS/preguntas_frecuentes.html"> Preguntas frecuentes </a></li>
                    <li> <a href="/VIEWS/contacto.html"> Contacto </a></li>
                </ul>  
            </nav>
        </main>
    </header>
    
    <p class="textocontacto" >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime eos ratione vel sunt ex ut autem, vitae numquam, natus id rerum? Mollitia quo, quae ab vitae totam amet sequi accusamus.</p>
    <img class="bordesredondeados" src="../ASSETS/macarrons frutilla.jpg" alt="imagen de macarrons de frutilla">
   <img  class="bordesredondeados"src="../ASSETS/cupcakes1.jpg" alt="imagen de cupcakes"  > 
   <img  class="bordesredondeados"src="../ASSETS/torta1.jpg" alt="imagen de torta"  >
</body>
<footer id="abajo">
    <p class="textocontacto"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, quia id? Doloribus quisquam voluptatum adipisci rem dolore iste saepe velit commodi harum? Obcaecati consequuntur eveniet culpa aspernatur qui recusandae perspiciatis!</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.99144060814!2d2.2922926150568834!3d48.858373608662895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66fe22e603a5f%3A0xaeb906086765a2e1!2sAux%20D%C3%A9lices%20du%20Pont%20d&#39;I%C3%A9na!5e0!3m2!1ses-419!2sar!4v1654828588742!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <p> <a href="#arriba "> Ir arriba </a></p>
</footer>
</html>