<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="cupcake, chocolate,pasteleria">
    <meta name="description" content="Un lugar para tentarse con algo dulce">
    <title>BakingMood - Home</title>
    <link rel="shortcut icon" href="../ASSETS/baking mood logo.png" type="image/x-icon">
    <!-- CSS bootstratp -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- CSS propio -->
    <link rel="stylesheet" href="../CSS/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital@1&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital@1&family=Mr+Dafoe&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg textonav">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand">
                    <img src="/ASSETS/baking mood logo.png " alt=logo" width="120" height="70">
                </a>
                <div class=" collapse navbar-collapse " id="navbarTogglerDemo03">
                    <ul class="navbar-nav me-auto mb-0 mb-lg-1">
                        <li class="nav-item button ">
                            <a class="nav-link btn btn-outline-home" aria-current="page" href="./home.html">Home</a>
                        </li>
                        <li class="nav-item button">
                            <a class="nav-link btn btn-outline-Galeria" href="./galeria.html">Galeria</a>
                        </li>
                        <li class="nav-item button">
                            <a class="nav-link btn btn-outline-Nosotros" href="./nosotros.html">Nosotros</a>
                        </li>
                        <li class="nav-item button">
                            <a class="nav-link btn btn-outline-Preguntas frecuentes"
                                href="./preguntas_frecuentes.html">Preguntas frecuentes</a>
                        </li>
                        <li class="nav-item button">
                            <a class="nav-link btn btn-outline-Contacto" href="./contacto.html">Contacto</a>
                        </li>
                    </ul>

                </div>
                </button>
            </div>
        </nav>
    </header>

    <main class="textohome texto">
        <h1> Nuestros productos</h1>
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../ASSETS/exhibicion de tortas.jpg" class="d-block w-100 img-fluid rounded" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../ASSETS/exhibicion tortas heladas.jpg" class="d-block w-100 img-fluid rounded"
                        alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../ASSETS/exhibicion torta baño ddl.jpg" class="d-block w-100 img-fluid rounded"
                        alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class=textogaleria>
            <h3 class="texto "> Contamos con una gran variedad de tortas, cupcakes y macarrons. Aquí encontrará la mas
                fina pasteleria con una frescura insuperable.
            </h3>
        </div>
    </main>

    <footer>
        <iframe class="iframe"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.99144060814!2d2.2922926150568834!3d48.858373608662895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66fe22e603a5f%3A0xaeb906086765a2e1!2sAux%20D%C3%A9lices%20du%20Pont%20d&#39;I%C3%A9na!5e0!3m2!1ses-419!2sar!4v1654828588742!5m2!1ses-419!2sar"
            style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </footer>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>