<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BakingMood - Preguntas_frecuentes</title>
    <meta name="keywords" content="consultas, dudas, inquietudes,detalles de entrega, entregas,pago,plazos">
    <meta name="description"
        content="Respuestas a las preguntas mas frecuentes acerca de pago, entrega, pedidos y plazos">
    <link rel="shortcut icon" href="../ASSETS/baking mood logo.png" type="image/x-icon">
    <!-- CSS bootstratp -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- CSS propio -->
    <link rel="stylesheet" href="../CSS/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital@1&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital@1&family=Mr+Dafoe&display=swap" rel="stylesheet">
</head>

<body class="fondopreguntasfrecuentes">
    <header>
        <!-- Nat var -->
        <nav class="navbar navbar-expand-lg textonav">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand">
                    <a href="../index.html"><img src="../ASSETS/baking_mood_logo.png " alt=logo" width="120" height="70">
                    </a>
                </a>
                <div class=" collapse navbar-collapse " id="navbarTogglerDemo03">
                    <ul class="navbar-nav me-auto mb-0 mb-lg-1">
                        <li class="nav-item button ">
                            <a class="nav-link btn " aria-current="page" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item button">
                            <a class="nav-link btn " href="../VIEWS/galeria.html">Galeria</a>
                        </li>
                        <li class="nav-item button">
                            <a class="nav-link btn " href="../VIEWS/nosotros.html">Nosotros</a>
                        </li>
                        <li class="nav-item button">
                            <a class="nav-link btn" href="../VIEWS/preguntas_frecuentes.html">Preguntas frecuentes</a>
                        </li>
                        <li class="nav-item button">
                            <a class="nav-link btn" href="../VIEWS/contacto.html">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- Main    -->
    <main class="textopreguntasfrecuentes">
        <h1>Preguntas frecuentes</h1>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item ">
                <h2 class="accordion-header " id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        ¿CÓMO PUEDO PAGAR MI PEDIDO?
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body ">
                        En la Tienda Online podes pagar con tarjeta de crédito, débito y efectivo, mediante la
                        Plataforma de Mercado Pago. En el Mostrador Dulce podes pagar únicamente con tarjeta de débito,
                        QR o en efectivo
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        ¿PUEDO ARMAR MI #CAJADULCE DE MANERA PERSONALIZADA?
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Las Cajas Dulces por una cuestión de logística vienen prearmadas tal cual como figuran en la
                        tienda y sólo pueden comprarse de manera online. En caso de querer armar tu caja de manera
                        personalizada deberás acercarte personalmente al Mostrador Dulce y elegir según el stock
                        disponible.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        ¿PUEDO ELEGIR LOS SABORES DE LOS MACARONS?
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Los sabores de los Macarons por una cuestión de logística vienen elegidos de manera surtida. En
                        caso de querer elegirlos de manera personalizada deberás acercarte al Mostrador Dulce y
                        elegirlos personalmente según el stock disponible.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        ¿CÓMO PROGRAMO LA FECHA DE ENTREGA DE MI PEDIDO?
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        En el proceso de compra vas a poder indicarnos la fecha de tu envío, cuándo querés que lo
                        entreguemos o si vas a venir a La Pastelería a retirarlo personalmente.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        ¿CON CÚANTA ANTICIPACIÓN DEBO REZALIZAR MI PEDIDO?
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Preferentemente con 2 o 3 días de anticipación.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        ¿PUEDO REALIZAR MI COMPRA Y RETIRARLA EN EL DÍA?
                    </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        NO, todos los pedidos, ya sean para Delivery o para Retirar por el Mostrador Dulce, se deben
                        realizar mínimo con 24hs de anticipación.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSeven">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        ¿CUANTÓ DURAN LOS PRODUCTOS EN LA HELADERA?
                    </button>
                </h2>
                <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Todas las piezas de pastelería son super frescas y duran en las cajas que envíamos + heladera
                        perfectamente 1 semana.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingEight">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                        ¿CÓMO REALIZAN LOS ENVÍOS?
                    </button>
                </h2>
                <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Realizamos entregas a domicilio, a través de nuestra propia logística con autos refrigerados.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingNine">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                        ¿CÚAL ES EL COSTO DEL ENVÍO?
                    </button>
                </h2>
                <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        En el proceso de compra, vas a poder indicarnos tu Domicilio y ver el Costo correspondiente del
                        mismo
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTen">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                        ¿HASTA DONDE LLEGA EL DELIVERY?
                    </button>
                </h2>
                <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Ingresando en la sección "Delivery" podes fijarte si llegamos hasta tu Domicilio.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingEleven">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                        ¿QUÉ PASA SI TU DIRECCIÓN NO APARECE DENTRO DE LAS ZONAS "PINTADAS" DEL MAPA?
                    </button>
                </h2>
                <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Si tu dirección no se encuentra dentro de estos límites del mapa significa que todavía no
                        podemos llegar hasta allí.
                        En este caso, podes acercarte al Mostrador Dulce para tus compras.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwelve">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                        ¿CÚANTO TARDA EN LLEGAR MI PEDIDO Y EN QUÉ FRANJA HORARIA?
                    </button>
                </h2>
                <div id="collapseTwelve" class="accordion-collapse collapse" aria-labelledby="headingTwelve"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Primero, tenés que saber los días de entrega de tu Zona y la franja horaria correspondiente a
                        cada una. Luego, si querés recibir o enviar tu pedido al día siguiente debés realizar la compra
                        antes de las 17hs del día anterior.

                        Puede haber demoras por la acreditación del pago. (Hasta 72 hs. para que impacte en el sistema)

                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThirteen">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                        ¿MI PEDIDO NO LLEGÓ EN LA FRANJA HORARIA INDICADA?
                    </button>
                </h2>
                <div id="collapseThirteen" class="accordion-collapse collapse" aria-labelledby="headingThirteen"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Te pedimos disculpas. Pueden surgir “imponderables” que retrasen el horario de tu entrega.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFourteen">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                        ¿DÓNDE SE REEMBOLSA MI DINERO EN CASO DE DEVOLUCIÓN?
                    </button>
                </h2>
                <div id="collapseFourteen" class="accordion-collapse collapse" aria-labelledby="headingFourteen"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        • Si realizaste el pago con TARJETA DE CRÉDITO, la devolución la verás reflejada en el resumen
                        de la misma. Normalmente suele tardar 9 días hábiles en verse reflejada.

                        • Si realizaste el pago con TARJETA DE DÉBITO, la devolución te aparecerá en tu Home Banking.
                        Normalmente suele tardar 9 días hábiles en verse reflejada.

                        • Si realizaste el pagó con DINERO EN TU CUENTA DE MERCADO PAGO o con algún medio de PAGO EN
                        EFECTIVO (Ej. Pago Fácil, Rapipago) el dinero de tu compra se te acreditará automáticamente en
                        tu cuenta de Mercado Pago.
                        Si no tenías cuenta creada en Mercado Pago al momento de realizar la compra, lo que sucede es
                        que realizas el pago con una “cuenta de invitado” Entonces tu dinero se acreditará en esa
                        cuenta. Para poder acceder al mismo deberás ingresar a Mercado Pago y seleccionar la opción
                        "Regístrate". Una vez allí, deberás escoger como e-mail de registro el que utilizaste para
                        pagar, que es al que quedó asociada tu cuenta de invitado y crear una contraseña. Ya con la
                        cuenta creada, va a poder ver tu dinero acreditado.
                        En caso de que se exceda el plazo y aún no veas la devolución, no dudes en contactarnos
                        nuevamente para identificar lo sucedido

                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFifteen">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
                        ¿CUÁL ES EL HORARIO DE ATENCIÓN?
                    </button>
                </h2>
                <div id="collapseFifteen" class="accordion-collapse collapse" aria-labelledby="headingFifteen"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Lunes a Domingo y Feriados de 9 a 20hs
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSixteen">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
                        ¿PUEDO ACERCARME AL MOSTRADOR DULCE Y COMPRAR DIRECTAMENTE?
                    </button>
                </h2>
                <div id="collapseSixteen" class="accordion-collapse collapse" aria-labelledby="headingSixteen"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Obvio! Podes acercarte y comprar lo que te guste y te tiente más! Recordá que las Cajas Dulces,
                        tal como figuran en la web, únicamente pueden ser compradas en la Tienda Online. En el Mostrador
                        vas a poder “armar” tu caja según el stock disponible en el momento.
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Footer      -->
    <footer>
        <div>
            <h3> Navegación</h3>
            <ul class="footer__ul">
                <li>
                    <a class="nav-link " href="../index.html">Home</a>
                </li>
                <li>
                    <a class="nav-link" href="../VIEWS/galeria.html">Galeria</a>
                </li>
                <li>
                    <a class="nav-link" href="../VIEWS/nosotros.html">Nosotros</a>
                </li>
                <li>
                    <a class="nav-link" href="../VIEWS/preguntas_frecuentes.html">Preguntas frecuentes</a>
                </li>
                <li>
                    <a class="nav-link " href="../VIEWS/contacto.html">Contacto</a>
                </li>
            </ul>
        </div>
        <div>
            <h3> Redes Sociales</h3>
            <img src="../ASSETS/instagram_64.png" style="font-size: 15rem;margin-top: 4px;" alt=" icono de instagram">
            <img src="../ASSETS/facebook_64.png" style="font-size: 15rem;margin-top: 4px;" alt=" icono de facebook">
        </div>
        <div>
            <h3>Medios de pago</h3>
            <img src="../ASSETS/visa_logo_65.png" style="font-size: 2.1rem;margin-top:-10px;"
                alt=" icono de tarjeta visa">
            <img src="../ASSETS/mastercard_64.png" style="font-size: 2rem;margin-top:-10px;"
                alt="icono de tarjeta mastercard">
            <img src="../ASSETS/amex.png" style="font-size: 2rem;margin-top:-10px;"
                alt=" icono de tarjeta american express">
            <img src="../ASSETS/icons-bitcoin-.png" class="w-8" style="font-size: 1.5rem;margin-top:-10px;"
                alt=" icono de bitcoin">
            <img src="../ASSETS/ethereum_line_template_icon_64.png" style="font-size: 1rem;margin-top:-10px;"
                alt=" icono de ethereum">
        </div>
        <div>
            <h3>Donde estamos</h3>
            <p style="margin-top: 2px"> <img src="../ASSETS/store_50x40.png" style="font-size: 1rem" alt=" icono de tienda">Quai
                Branly, 75007 Paris, Francia </p>
            <iframe class="iframe"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.99144060814!2d2.2922926150568834!3d48.858373608662895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66fe22e603a5f%3A0xaeb906086765a2e1!2sAux%20D%C3%A9lices%20du%20Pont%20d&#39;I%C3%A9na!5e0!3m2!1ses-419!2sar!4v1654828588742!5m2!1ses-419!2sar"
                style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </footer>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
        </script>

</body>

</html>