.textocontacto {
    color: black;
    font: family $texto2;
}

.size {
    font-size: 1.2rem;
}

.fondocontacto {
    background-color: #f2b279;
}

.btn-primary {
    color: white;
    background-color: black;
    margin-top: 15px;
    border-color: aqua;
}


.form-select {
    margin-bottom: 11px;
}

.form-label {
    margin-top: 11px;
}

p {
    margin-top: 15px;
    font-size: 1.2rem;
}