footer {
    @include flex1 (row , space-around , stretch);
    padding: $spacing-small;
    margin-top: 5px;
    background-color: rgb(153, 156, 156);
}

.nav-link1{
 color: black;
}
.footer__ul{
   list-style: none;
   padding-left: 2px;
}
h3{
    font-size: medium;
    color: azure;
}
