footer {
    @include flex1 (row , space-around , stretch);
    padding: $spacing-small;
    margin-top: 5px;
    background-color: rgb(192, 224, 224);
}

.nav-link1{
 color: black;
}
.footer__ul{
   list-style: none;
   padding-left: 2px;
   color:black;
}
h3{
    font-size: large;
    color:black;
    margin-bottom: 2px;
}
