.textonav {
    font-family: $texto1;
}

nav {
    width: 100%;
    margin: 0 0 0 0;
}

.navbar-brand {
    max-width: 100px;
}

h1 {
    font-size: 25px;
}

a {
    text-decoration: none;
}

.fondoindex {
    background-color: #F2C12E;
    margin: 0rem;
}

iframe {
    width: 95%;
    height: 50%;
}
.textogaleria {
    font-size: 20px;

    &_texto {
        font-family: $texto2;
    }
}

.textohome {
    text-align: center;

    &.texto {
        font-family: $texto2;
    }
}

.textonosotros {
    font-size: 20px;

    &.texto {
        font-family: $texto2;
    }
}


.carousel-inner img {
    width: 100%;
    max-height: 600px;
}

.carousel-inner {
    height: 650px;
}
