.textonav {
    font-family: $texto1;
}

nav {
    width: 100%;
    margin: 0 0 0 0;
}

.navbar-brand {
    max-width: 100px;
}

h1 {
    font-size: 30px;
    font-family: $texto2;
    text-align: left;
    margin: 0px 0px 1px 15px;
}
a {
    text-decoration: none;
}


iframe {
    width: 95%;
    height: 50%;
}
.textogaleria {
    font-size: 20px;

    &_texto {
        font-family: $texto2;
    }
}

.textohome {
    text-align: center;

    &.texto {
        font-family: $texto1;
        font-size: 15px;
    }
}

.textonosotros {
    font-size: 20px;

    &.texto {
        font-family: $texto2;
    }
}


.carousel-inner img {
    width: 100%;
    max-height: 600px;
}

.carousel-inner {
    height: 650px;
}
.h1home{
    text-align: center;
}
.h2home{
    font-size: 25px;
}
.h3home{
    font-family: $texto1;
    font-size:21px;
    font-weight: bold;
}