/* ----MEDIA   QUERY MOBILE --- */
@media(min-width:320px) and (max-width:575px) {

    .navbar-brand {
        max-width: 100%;
    }

    .img_nosotros {
        flex-direction: column;
        justify-content: center;
    }

    .iframe {
        max-width: 100%;
    }
    footer{
        flex-direction: column;
    }
}

/* -----MEDIA QUERY TABLET ---- */
@media (min-width: 576px) and (max-width:767px) {
    .img_nosotros {
        flex-direction: column;
    }

    .iframe {
        max-width: 100%;
    }
}

@media (min-width: 768px) and (max-width:991px) {
    .textonosotros {
        flex-direction: column;
    }

    .img_nosotros {
        flex-direction: column;
        justify-items: space-evently;
    }

    .iframe {
        max-width: 100%;
    }
}