.fondonosotros {
    background-color: #D9A282;
}

.imglogo {
    padding: 10px;
    margin: 10px;
    width: 200px;
    height: 150px;
}

.textonosotros {
    font-family: $texto2;
    font-size: 20px;
}