.fondonosotros {
    background-color: #D9A282;
}

.textonosotros {
    font-family: $texto2;
    font-size: 20px;
}
.textonosotrosp{
    font-size: larger;
}
.img_nosotros{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
}
h1{
   margin: 10px;
}