$texto1:'Alegreya', serif;
$texto2:'Mr Dafoe', cursive;
$primary: color black;
$text1:color red;
$text2:color green;
$text3:color yellow;


/*------- VARIABLES CARROUSEL ------*/
$carousel-control-width:             1%;
$carousel-control-opacity:           .5;
$carousel-control-hover-opacity:     .9;
$carousel-control-transition:        opacity .1s ease;
$carousel-indicator-width:           10px;
$carousel-indicator-height:          3px;
$carousel-indicator-hit-area-height: 10px;
$carousel-indicator-spacer:          3px;
$carousel-indicator-opacity:         .5;
$carousel-indicator-active-opacity:  1;
$carousel-indicator-transition:      opacity .1s ease;
$carousel-caption-width:             10%;
$carousel-caption-padding-y:         1.25rem;
$carousel-caption-spacer:            1.25rem;
$carousel-control-icon-width:        2rem;
$carousel-transition-duration:       .2s;
$carousel-transition:                transform $carousel-transition-duration ease-in-out; // Define transform transition first if using multiple transitions (e.g., `transform 2s ease, opacity .5s ease-out`)

$carousel-dark-control-icon-filter:  invert(1) grayscale(100);
/* --VARIABLES ACCORDION --*/
$accordion-button-active-color:           shade-color($primary,10%);

/* -- SPACING --*/
$spacing-large:6rem;
$spacing-medium:2.4rem;
$spacing-small: 1.2rem;









